
<configuration>

    <system.webServer>
    <staticContent>
          <remove fileExtension=".json"/>
          <mimeMap fileExtension=".json" mimeType="application/manifest+json"/>
          <mimeMap fileExtension=".webapp" mimeType="application/manifest+json"/>
    </staticContent>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.webServer>


</configuration>
